@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --hightlight-bg:linear-gradient(267deg, #DA7c25 0.36%, #B923E1 102.06%);
}
*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background: #161513;
    color: snow;
    list-style: none;
    text-decoration: none;
    font-family: 'outfit';
}
.highlight_bg {
    background: linear-gradient(270deg, #DA7C25 10%, #B415FF 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}